---
kind: Secret
apiVersion: v1
metadata:
  name: im-realm-manager-{{ iu_realm }}
  namespace: {{ iu_namespace }}
stringData:
  username: {{ iu_realm_manager }}
  password: {{ iu_realm_manager_password }}
